version: '3'

services:
  web:
    image: node:10
    environment:
      NAME: "dave"
      # https://portal.azure.com > prod-widget-discover-uni > Configuration
      WIDGETAPIKEY: "..."
      WIDGETAPIHOST: "..."
      ROOT_DOMAIN: "..."
    volumes:
      - .:/usr/src/service
    working_dir: /usr/src/service
    command: node server.js
    ports:
      - 8001:80
