.kis-widget__body {
    margin: 0px;
}

.kis-widget {
    font-family: Nunito Sans, sans-serif;
    display: flex;
}

.kis-widget .kis-widget__intro {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.kis-widget .kis-widget__cta-block .kis-widget__heading h3, .kis-widget__heading h1, .kis-widget .kis-widget__cta-block .kis-widget__heading span {
    color: white;
    font-size: 1rem !important;
    line-height: 1.5rem;
    font-weight: normal;
    text-align: left;
}

.kis-widget.horizontal .kis-widget__heading, .kis-widget.responsive .kis-widget__heading {
    margin: 0;
    line-height: 1.5rem;
    text-align: left;
    font-weight: normal;
    background-color: transparent;
}

.kis-widget.vertical .kis-widget__heading {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.5rem;
    text-align: left;
}


.kis-widget.horizontal .kis-widget__heading .kis-widget__cta-block .kis-widget__heading h3, .kis-widget__heading h1, .kis-widget.horizontal .kis-widget__cta-block .kis-widget__heading span, .kis-widget.horizontal .kis-widget__cta-block .kis-widget__heading strong {
    margin: 0;
    font-size: 1rem !important;
    line-height: 1.5rem;
    text-align: left;
}

.kis-widget .kis-widget__cta-block .kis-widget__heading strong {
    color: white;
    font-size: 1rem !important;
    line-height: 1.5rem;
    text-align: left;
}

.kis-widget .kis-widget__lead {
    background-color: white;
    color: #307e7e;

}

.kis-widget .kis-widget__lead .kis-widget__intro {
    font-size: 1rem !important;
    line-height: 1.5rem;
    margin: 0px;
    font-weight: bold;
    background-color: white;
}

.kis-widget .kis-widget__cta-block {
    padding: 10px;
    background: linear-gradient(145deg, rgba(36, 131, 132, 1), rgba(39, 134, 93, 1));
}

.kis-widget .kis-widget__cta-block .kis-widget__cta-lead {
    font-size: 1rem !important;
    line-height: 16px;
    color: white;
}

.kis-widget .kis-widget__cta-block .kis-widget__logo {
    margin-top: 2px;
    margin-bottom: 38px;
    height: 30px;
    display: block;
}

.kis-widget.vertical .kis-widget__cta-block .kis-widget__logo {
    margin-top: 9px;
    margin-bottom: 20px;
    height: 30px;
    display: block;
}

.kis-widget.horizontal .kis-widget__cta-block .kis-widget__logo {
    margin-bottom: 4px;
}

.kis-widget .kis-widget__cta-block .kis-widget__cta {
    background-color: white;
    border-radius: 60px;
    color: #307e7e;
    font-size: 1rem !important;
    line-height: 1.2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9px;
    padding-bottom: 9px;
}

.kis-widget.horizontal .kis-widget__cta-block .kis-widget__cta {
    width: 100%;
    font-weight: normal;
}

.kis-widget.vertical .kis-widget__cta-block .kis-widget__cta {
    width: 100%;
    font-weight: normal;
}

.kis-widget .kis-widget__cta-block .kis-widget__cta a {
    color: #307e7e;
    text-decoration: none;
}

.kis-widget .kis-widget__cta-block h3, .kis-widget__cta-block h1 {
    line-height: 16px;
    font-weight: normal;
    margin: 0px;
}

.kis-widget .kis-widget__lead .kis-widget__title {
    color: #307e7e;
    font-size: 3rem !important;
    font-weight: normal;
    line-height: 3.5rem;
    margin: 0;
    background-color: white;
}

.kis-widget .kis-widget__lead .kis-widget__course {
    font-size: 12px !important;
    line-height: 150%;
    margin: 0px;
    font-weight: normal;
    background-color: white;
}


.kis-widget.vertical {
    width: 190px;
    /* This has been removed because if one of the pages in the animation is */
    /* larger than the box it will overflow the box and the border will not */
    /* apear at the bottom any more */
    height: 500px;
    flex-direction: column;
}

.kis-widget.horizontal {
    width: 615px;
    height: 142px;
}

.kis-widget.vertical.responsive, .kis-widget.horizontal.responsive {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    max-height: 500px;
}

.kis-widget.horizontal.responsive .kis-widget__lead .kis-widget__stat {
    align-items: flex-start;
    color: #307e7e;
}

.kis-widget .kis-widget__lead {
    padding: 15px 20px 134px 15px;
}

.kis-widget.vertical .kis-widget__lead {
    position: relative;
    flex: 1;
}

.kis-widget.horizontal .kis-widget__lead {
    width: 380px;
    /*flex: 1 1 0;*/
    padding: 17px 17px 17px;
    position: relative;
}

.kis-widget.horizontal.no-data .kis-widget__lead {
    padding: 18px 25px 80px 20px;
}

.kis-widget.horizontal .kis-widget__lead .kis-widget__stat {
    display: flex;
    align-items: flex-end;
    color: #307e7e;
}

.kis-widget.horizontal .kis-widget__lead .kis-widget__course-details {
    position: absolute;
    bottom: 6px;
}

.kis-widget.horizontal .kis-widget__lead .kis-widget__intro {
    /*margin-bottom: 6px;*/
    font-weight: bold;
    background-color: white;
}

.kis-widget.vertical .kis-widget__cta-block {
    padding: 10px;
}

.kis-widget.horizontal.no-data .kis-widget__cta-block {
    width: 160px;
    flex: 1 1 0;
    padding: 15px 11px 20px 19px;
}

.kis-widget.horizontal .kis-widget__cta-block {
    width: 245px;
    float: right;
    padding: 7px 10px 10px;
}

.kis-widget.vertical .kis-widget__lead .kis-widget__course-details {
    position: absolute;
    bottom: 18px;
    padding-right: 15px;
}

.kis-widget__fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

#unistats-widget-frame .kis-widget.vertical {
    width: 100%
}

#unistats-widget-frame .kis-widget.horizontal {
    height: 100%
}


/* Borders change based on the widget type
(otherwise they may build too small if based on original container div size */

/* For a responsive and/or vertical widget */
.kis-widget.responsive.vertical .kis-widget__lead, .kis-widget.vertical .kis-widget__lead {
    border: 2px solid #4EA27D;
}


.kis-widget.responsive.vertical .kis-widget__cta-block, .kis-widget.vertical .kis-widget__cta-block {
    border: 2px solid #4EA27D;
}

/* For a responsive and/or horizontal widget */
.kis-widget.responsive.horizontal .kis-widget__lead, .kis-widget.horizontal .kis-widget__lead {
    border-left: 2px solid #4EA27D;
    border-top: 2px solid #4EA27D;
    border-bottom: 2px solid #4EA27D;
}

.kis-widget.responsive.horizontal .kis-widget__cta-block, .kis-widget.horizontal .kis-widget__cta-block {
    border: 2px solid #4EA27D;
}

.kis_button {
    width: 100%;
    font-weight: normal;
    background-color: white;
    display: block;
    text-decoration: none;
    margin: auto;
}

.kis_button > p {
    background-color: white;
    display: inline;
    color: #307e7e;
    text-decoration: unset;
    margin: 0;
}

a.kis_button:hover span, a.kis_button:focus span, a.kis_button:active span {
    display: block;
    position: absolute;
    bottom: -3em;
    left: 1em;
    width: 12em;
    border: 1px solid #4EA27D;
    background-color: #4EA27D;
    color: #ffffff;
    text-align: center
}

:focus {
    outline: 0;
}

a.kis_button {
    position: relative;
    z-index: 24;
    background-color: #ccc;
    color: #000;
    text-decoration: none
}

a.kis_button:hover, a.kis_button:focus, a.kis_button:active {
    z-index: 25;
    background-color: #4EA27D
}

a.kis_button span {
    position: absolute;
    left: -9000px;
    width: 0;
    overflow: hidden;
}