/* Reset tag style to prevent bleed over */
.kis-widget html, .kis-widget body, .kis-widget div, .kis-widget span,
.kis-widget h1, .kis-widget h2, .kis-widget h3, .kis-widget p,
.kis-widget a, .kis-widget img,
.kis-widget small, .kis-widget strong,
.kis-widget b {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    /* basic modern patch */
    all: initial;
    all: unset;
}
.kis-widget body {
    line-height: 1;
}

/* Widget styling */
.widget-body {
    margin: 0px;
}

.kis-widget {
    font-family: Nunito Sans;
    border: 2px solid #4EA27D;
    display: flex;
    text-align: initial !important;
    box-sizing: initial;
}

.kis-widget .widget-lead {
    background-color: white;
    color: #308282;
}

.kis-widget.vertical .widget-lead .intro {
    font-size: 15px;
    line-height: 20px;
    margin: 0px;
}

.kis-widget .widget-lead .intro {
    font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (1920 - 300)));
    line-height: calc(10px + (18 - 10) * ((100vw - 300px) / (1920 - 300)));
    margin: 0px;
}

.kis-widget .widget-cta-block {
    padding: 15px 15px 21px 15px;
    background: linear-gradient(145.9deg, #4EA27D 13.02%, #308282 85.42%);
}

.kis-widget .widget-cta-block .cta-lead {
    display: block;
    font-size: 13px;
    line-height: 16px;
    color: white;
}

.kis-widget .widget-cta-block .logo {
    margin-top: 9px;
    margin-bottom: 38px;
    height: 30px;
    display: block;
    width: unset;
}

.kis-widget.horizontal .widget-cta-block .logo {
    margin-bottom: 10px;
}

.kis-widget .widget-cta-block .cta {
    position: relative;
    background-color: white;
    border-radius: 60px;
    color: #308282;
    display: block;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    width: 100%;
}

.kis-widget .widget-cta-block .cta a {
    color: #308282;
    text-decoration: none;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    position: relative;
}

.kis-widget .widget-cta-block h1 {
    font-weight: normal;
    margin: 0px;
    line-height: 1em;
}

.kis-widget.kis-widget.vertical .widget-lead .title {
    font-size: 48px;
    font-weight: normal;
    line-height: 58px;
    margin: 0;
}

.kis-widget.vertical .widget-lead .course {
    font-size: 11px;
    line-height: 13px;
    margin: 0px;
}

.kis-widget .widget-lead .title {
    font-size: calc(20px + (50 - 20) * ((100vw - 300px) / (1920 - 300)));
    font-weight: normal;
    line-height: calc(22px + (52 - 22) * ((100vw - 300px) / (1920 - 300)));
    margin: 0;
}

.kis-widget .widget-lead .course {
    font-size: calc(6px + (12 - 6) * ((100vw - 300px) / (1920 - 300)));
    line-height: calc(8px + (14 - 8) * ((100vw - 300px) / (1920 - 300)));
    margin: 0px;
}


.kis-widget.vertical {
    width: 186px;
    height: 496px;
    flex-direction: column;
}

.kis-widget.horizontal {
    width: 611px;
    height: 146px;
}

.kis-widget.vertical.responsive{
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    max-height: 500px;
}

.kis-widget.horizontal.responsive {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    max-height: 500px;
}

.kis-widget.horizontal.responsive .widget-lead .stat {
    align-items: flex-start;
}

.kis-widget .widget-lead {
    padding: 15px 20px 184px 15px;
}

.kis-widget.vertical .widget-lead {
    position: relative;
    flex: 1;
}

.kis-widget.horizontal .widget-lead {
    width: 380px;
    flex: 1 1 0;
    padding: 27px 17px 17px;
    position: relative;
}

.kis-widget.horizontal.no-data .widget-lead {
    padding: 18px 25px 80px 20px;
}

.kis-widget.horizontal .widget-lead .stat {
    display: flex;
    align-items: flex-end;
}

.kis-widget.horizontal .widget-lead .course-details {
    position: absolute;
    bottom: 17px;
}

.kis-widget.horizontal .widget-lead .intro {
    margin-left: 10px;
    margin-bottom: 6px;
}

.kis-widget.vertical .widget-cta-block {
    padding: 15px 15px 21px 15px;
}

.kis-widget.horizontal.no-data .widget-cta-block {
    width: 160px;
    flex: 1 1 0;
    padding: 15px 11px 20px 19px;
}

.kis-widget.horizontal .widget-cta-block {
    width: 155px;
    float: right;
    padding: 15px 15px 20px 15px;
}

.kis-widget.vertical .widget-lead .course-details {
    position: absolute;
    bottom: 18px;
    padding-right: 15px;
}

.lead-slide.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
    -webkit-transition: unset;
    transition: unset;
    opacity: unset;
}

@-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

#unistats-widget-frame .kis-widget.vertical {
    width: 100%
}

#unistats-widget-frame .kis-widget.horizontal {
    height: 100%
}
